.parent {
  height: 400px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  //   flex-direction: column;
  //   justify-content: center;
  //   align-items: stretch; //default
  //   align-items: center;
  align-items: flex-start;
  //   align-items: flex-end;
  //   align-items: center;
  //   align-items: baseline;
  //   .box-02 {
  //     align-self: flex-end;
  //   }
}
